Source: lxqt-metapackages
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org> 
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-lxqt/liblxqt.git/?h=debian/sid
Vcs-Git: git://anonscm.debian.org/pkg-lxqt/lxqt-meta.git -b debian/sid
Homepage: http://www.lxqt.org/

Package: lxqt-core
Architecture: all
Depends: ${misc:Depends},
         lxqt-common,
         lxqt-panel,
         lxqt-session,
         pcmanfm-qt,
         desktop-file-utils,
         openbox | x-window-manager
Recommends: gksu,
            qterminal | x-terminal-emulator,
            xscreensaver
Suggests: qupzilla | www-browser,
          lxqt,
          lxqt-runner
Description: Metapackage for the LXQt core
 LXQt is an advanced, easy-to-use, and fast desktop environment based on Qt
 technologies. It has been tailored for users who value simplicity, speed, and
 an intuitive interface. Unlike most desktop environments, LXQt also works
 fine with less powerful machines.
 .
 This package is a metapackage meant to provide the core components
 of LXQt. These include pcmanfm-qt, lxqt-panel, lxqt-session and openbox.

Package: lxqt
Architecture: all
Depends: ${misc:Depends},
         lximage-qt,
         lxqt-core (= ${source:Version}),
         lxqt-about,
         lxqt-admin,
         lxqt-config,
         lxqt-globalkeys,
         lxqt-notificationd,
         lxqt-openssh-askpass,
         lxqt-policykit,
         lxqt-powermanagement,
         lxqt-qtplugin,
         lxqt-runner,
         lxqt-sudo,
         qterminal,
         xarchiver
Recommends: obconf-qt,
            pavucontrol,
            screengrab,
            smplayer,
            smtube,
            qlipper,
            gucharmap,
            qupzilla | x-www-browser,
            sddm | lightdm | x-display-manager,
            audacious | clementine | qmmp
Suggests: nomacs,
          quassel | quassel-client
Description: Metapackage for LXQt
 LXQt is an advanced, easy-to-use, and fast desktop environment based on Qt
 technologies. It has been tailored for users who value simplicity, speed, and
 an intuitive interface. Unlike most desktop environments, LXQt also works
 fine with less powerful machines.
 .
 This package is a metapackage meant to provide the core components
 of LXQt plus some recommended components. These include lxqt-core, lxqt-appearance,
 lxqt-input, qterminal, lxqt-config and xarchiver.
