#!/usr/bin/make -f
#export DH_VERBOSE=1

%:
	dh ${@}


maintainer-clean:
	$(RM) -r checkout
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

get-orig-source: maintainer-clean
	mkdir checkout
	cp -a debian checkout
