#!/usr/bin/make -f

%:
	dh ${@}


maintainer-clean:
	$(RM) -r checkout
	$(RM) -r backport
	$(RM) *.build
	$(RM) *.changes
	$(RM) *.deb
	$(RM) *.dsc
	$(RM) *.tar.gz
	$(RM) *.upload

checkout: maintainer-clean
	mkdir checkout
	cp -a debian checkout

backport: checkout
	mv checkout backport